version: '3.7'
services:
  app:
    build:
      target: development
      args:
        - GITLAB_TOKEN=${GITLAB_TOKEN}
        # - GITLAB_PROJECT_ID=GITLAB_PROJECT_ID
        # - SCOPE_REGISTRY=YOUR_SCOPE # see https://docs.npmjs.com/cli/v6/using-npm/scope
    entrypoint: "yarn run watch"
    ports:
      - 4444:4444
    volumes:
      - .:/app
      - ./.logs:/var/log/app:rw
